/* Estilo general */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-image: url('imgs/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: x-large;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: larger;
  }
  hr{
    margin: auto;
    margin-bottom: 50px;
  
  }
  .navbar {
    background-color: transparent !important;
  }
  
  .nav-link {
    margin-right: 15px;
  }
  
  .carousel-item img {
    height: 90vh;
    object-fit: cover;
  }
  .navbar .navbar-brand {
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    font-size: 24px;
  }
  hr{
    height: 1px;
    width: 100px;
  }

  /* Carrusel */
  .hero {
    position: relative;
    height: 70vh;
    margin-top: 15px;
    overflow: hidden;
  
  }
  
  .carousel-inner img {
    object-fit: cover;
    height: 100vh;
  }
  
  /* Ocultar flechas del carrusel */
  .carousel-control-prev,
  .carousel-control-next {
    display: none !important;
  }
  
  /* Botón centrado sobre el carrusel */
  .carousel-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 23px;
    font-size: 15px;
    color: white;
    background-color: #c50b0b;
    text-decoration: none;
    border-radius: 30px;
    transition: background 0.3s ease-in-out;
  }
  
  .cta-button:hover {
    background-color: #e19a01;
  }
  
  /* Footer */
  footer {
    background-color: #231a16;
  }
  
  