/* Estilos generales */
body {
    font-family:'Times New Roman', Times, serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-image: url('imgs/background.png');
    text-align: center;
}

/* Diseño del header */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 10%;
    background-size: cover;
    background-position: center;
}

/* Contenedor de la imagen */
.logo-container {
    margin-bottom: 20px;

}
/* Imagen */
.logo {
    width: 250px;
    height: auto;
    object-fit: cover;
}


/* Botón CTA */
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #c50b0b;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    margin-top: 50px;
    padding: 10px;
    background-color: #333;
    color: white;
}
